[user]
	email = francisco@altimari.nl
	name = Francisco Altimari
[core]
	pager = less -FRSX
	editor = kwrite
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
[merge]
	tool = kwrite
	log = 2000
[push]
	default = matching
	default = current
	autoSetupRemote = true
[remote]
	pushDefault = origin
[credential]
	helper = cache --timeout=525600
